html {
    padding: 10px;
    background-color: rgb(135, 141, 142);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: absolute;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    border: solid;
    margin-left: 10px;
}

.hover:hover {
    border-width: 1px;
}

main {
    margin-top: 5%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    display: block;
}

#high-score-title {
    border-bottom: 2px solid black;
    width: 35%;
    margin: 50px auto;
}

p {
    color: white;
    border: 2px solid;
    width: 25%;
    text-align: center;
    margin: 15px auto;
    border-radius: 5px;
    background-color: black;

}

p:last-of-type {
    border: 4px solid;
    height: 35px;
}

p:hover {
    border: 2px solid rgb(69, 1, 1);
}